/Desktop/aff/nbproject/private/
/Documents/NetBeansProjects/JavaApplication3/nbproject/private/
/Documents/NetBeansProjects/JavaApplication3/build/
/Videos/Image-Steganography-master/nbproject/private/
/Videos/Image-Steganography-master/build/
/Desktop/aff/build/
/Desktop/steganography/DecodeMessage/EmbedMessage/build/
/Desktop/steganography/DecodeMessage/EmbedMessage/nbproject/private/
/Desktop/steganography/EmbedMessage/dist/
/Desktop/Project/EmbedMessage/nbproject/private/
/Desktop/Project/EmbedMessage/build/
/Desktop/Project/EmbedMessage/dist/
/Downloads/Login/Login/nbproject/private/
/Videos/Steganography-master/dist/
/Documents/NetBeansProjects/Mail/nbproject/private/
/Documents/NetBeansProjects/Mail/build/
/Desktop/Email/dist/
/Desktop/Login/nbproject/private/
/Desktop/Login/build/
/Documents/NetBeansProjects/Loginn/nbproject/private/
/Documents/NetBeansProjects/Loginn/build/
/Documents/NetBeansProjects/Loginn/dist/
/Documents/NetBeansProjects/P/nbproject/private/
/Documents/NetBeansProjects/P/build/
/Documents/NetBeansProjects/P/dist/
/Documents/NetBeansProjects/final/nbproject/private/
/Documents/NetBeansProjects/final/build/
/Documents/NetBeansProjects/final/dist/
/Desktop/Loginn/nbproject/private/
/Desktop/Loginn/build/
/Music/Loginn/nbproject/private/
/Music/Loginn/build/
/Pictures/Loginn/nbproject/private/
/Pictures/Loginn/build/
/Pictures/Loginn/dist/
/Desktop/Project/Loginn/build/
/Videos/Loginn/nbproject/private/